body {
    margin:0;
    position: relative;
}

.zombie img {
    height: 300px;
    animation: imagine 12s infinite;

}
.zombie {
    animation: zombie 12s infinite;
    bottom: 100px;
    position: absolute;
}

.board {
    height:100vh;
    min-height: 800px;
    position: relative;
    overflow: hidden;
    background: rgb(0,0,0);
    background-image: url(../images/board-bg.jpg);
    background-size: cover;
    background-position: center bottom;
}
@keyframes zombie {
    0% {
        bottom: 100px;
        left: 110%;
    }

    100% {
        bottom: 100px;
        left: -500px;
    }
}
@keyframes imagine {
    0% {
        height: 300px;
    }
    100% {
        height: 800px;
    }
}

